@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">to</h1>
    <h1 class="display-4">Bussiness Manager System</h1>
    <p>Click on <a href="/People/Index">People</a> to see the list of working people registered in this system</p>
    <p>Click on <a href="/Jobs/Index">Jobs</a> to see the list of possible jobs registered in this system</p>
    <p>Click on <a href="/Workplaces/Index">Workplaces</a> to see the list of possible workplaces registered in this system</p>
</div>
